*{padding: 0;margin: 0;}

@font-face {
    font-family: 'afta_sans';
    src: url('fonts/afta-sans/aftasansthin-regular-webfont.eot');
    src: url('fonts/afta-sans/aftasansthin-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/afta-sans/aftasansthin-regular-webfont.woff') format('woff'),
         url('fonts/afta-sans/aftasansthin-regular-webfont.ttf') format('truetype'),
         url('fonts/afta-sans/aftasansthin-regular-webfont.svg#afta_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3{
	margin-bottom: 15px;
}
h2{
	font-size: 1.3em;
}

.container{
	width: 900px;
	height: auto;
	margin: 0 auto;
	font-family: 'afta_sans';
	color: #666;
}

.container header, footer{
	height: 120px;
	border: 1px solid red;
	background-image: linear-gradient(to bottom, white, #DDD);
	border: 3px solid green;
}

.container header #logo{
	float: left;
	width: 300px;
	margin-top: 20px;
}

.container-servicos{
	width: 400px;
	height: auto;
	float: left;
	margin: 0px 5px 40px;
	text-align: center;
}

li{
	list-style: none;
}

section{
	width: 820px;
	margin: 20px auto;
}

section article{
	margin: 50px 0;
}

hr{
	background-color: green;
	height: 1px;
}

nav{
	float: right;
	margin-top: 60px;
	padding: 5px;
}

nav ul li{
	display: inline;
}

nav ul li a{
	color: black;
	text-decoration: none;
	padding: 0 10px;
}

footer{
	text-align: center;
}

footer #footer-text{
	margin-top: 30px;
}

.clearfix{
	clear: both;
}


